fastapi
uvicorn
pytesseract
pillow
pdf2image
langchain
langgraph
langchain-google-genai
langchain-groq
langchain-mistralai
tenacity
python-multipart
python-dotenv
sqlalchemy
passlib[bcrypt]
pyjwt
python-jose[cryptography]
email-validator
pypdf>=3.0.0
